@import "../../../assets/styles/ui";

.pageDashboard {
    padding: 0;
}

p {
    margin: 0;
}

.recordSection {
    display: flex;
}

.record {
    width: 100%;
}

.rowBtn {
    margin-left: auto;
    & > div {
        display: flex;
        align-items: center;
    }
}

.iconStatus {
    color: white;
    font-size: 50px;
    padding-bottom: 4px;

    &[data-status = "Pendente"] {
        padding-right: 12px;
    }
    &[data-status = "Concluído"] {
        padding-right: 18px;
    }
}

.statusBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    
    &[data-status = "Pendente"] {
        border: 2px solid red;
        background-color: red;
        color: red;
    }
    &[data-status = "Concluído"] {
        border: 2px solid green;
        background-color: green;
        color: green;
    }
}

.containerHeaderActions {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.informNotData {
    align-items: center;
    background-color: white;
    border-radius: 8px;
    display: flex;
    margin: 10px 0;
    padding: 10px;
    p {
        margin: 0;
    }
}

.noticeIcon {
    margin-top: 3px;
    margin-right: 18px;
    color: orange;
    font-size: 26px;
    transform: rotate(-45deg);
}