@import "../../../../assets/styles/ui";
@import "../../../../assets/styles/colors";

.goal {
    background-color: white;
    border-radius: 8px;
    border-bottom-right-radius: 50px;
    align-items: center;
    width: 100% !important;

    padding: 32px;
    margin: 32px 0;

    & > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.goal:hover {
    border-bottom: 2px solid $color-details-secondary;
}

.taskTitle {
    align-self: flex-start;
}

.tasksLabel {
    color: grey;
    font-size: 16px;
}

.tasksCount {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 0;
}

.stakeholdersLabel {
    color: grey;
    font-size: 16px;
}

.stakeholdersCount {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 0;
}

.primaryInfo {
    font-weight: 700;
}

.secondaryInfo {
    font-weight: 400;
    color: grey;
    font-size: 12px;
}

.status {
    border-radius: 5px;
    font-weight: bold;
    padding: 3px 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;

    &[data-status = "Pendente"] {    
        border: 2px solid red;
        color: red;
    }
    &[data-status = "Concluído"] {
        border: 2px solid green;
        color: green;
    }
}