@import "../../../assets/styles/button";
@import "../../../assets/styles/ui";
@import "../../../assets/styles/colors";

.iconCheckColumn {
    padding-right: 30px !important;
}

.iconCheck {
    color: white;
    font-size: 24px;
    margin-left: auto;
}

.pageSection {
    padding: 0;
}

.colaboratorsSection {
    overflow-y: scroll;
    height: 450px;
}

.entityTableHeader {
    padding: 6px 25px;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pageSectionHeader {
    margin-left: 0;
}



.colBtnRedirect {
    display: flex;
}

.buttonRedirect {
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.iconRedirect {
    color: white;
    font-size: 30px;
}