@import "../../../assets/styles/typograph";
@import "../../../assets/styles/ui";
@import "../../../assets/styles/button";

.survey {
    display: inline;

    .section {
        background-color: #ffffff;
        padding: 25px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .utterance {
        textarea {
            width: 550px;
            height: 100px;
        }
    }
}

.btnPrimary {
    width: 100%;
}

.askUtterance {
    font-size: 14px;
}

.essential {
    margin-bottom: 24px;
}

.essentialSlider {
    margin-bottom: 80px;

    p {
        margin-bottom: 24px;
    }

    label {
        margin-bottom: 6px;
        font-weight: bold;
    }
    
    .sliderSection {
        display: flex;
        justify-content: center;
    }
    .slider {
    }
}