.checkbox {
    width: 22px;
    height: 22px;
}

.assessementTableRecordContent {
    display: flex;
    align-items: center;
    margin: 0 25px;
    padding: 20px 0;
    border-bottom: 1px solid #e8e5f6;

    & > div {
        display: flex;
        justify-content: center;
    }

    & > div:first-child {
        display: flex;
        justify-content: flex-start;
    }
}

.userInfo {
    display: flex;
    align-items: center;
    margin-right: auto;

    .avatar {
        background-color: purple;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
}

.details {
    margin-left: 8px;
    flex-direction: column;

    p {
        margin: 0;
    }
}

.primaryInfo {
    font-weight: 700;

}

.secondaryInfo {
    font-weight: 400;
    color: grey;
    font-size: 12px;
}