@import "../../../assets/styles/section";

.pageSection {
    border-bottom-right-radius: 48px;

    .pageSectionHeader {
        margin-bottom: 10px;

        & > div {
            display: inline-flex;
            align-items: center;
        }

        .goalTitle {
            input {
                margin-left: 3px;
                font-size: 20px;
                width: 100%;
                margin-bottom: 5px;
                margin-top: 5px;
                border: none;
                background-color: #3e5a6e;
                color: white;
            }
            ::placeholder {
                color: white;
            }
        }
    }

    .goalSectionContent {
        & > div {
            display: flex;
            flex-direction: column;
        }

        textarea {
            height: 120px;
            border: none;
            padding: 15px 5px;
            margin-top: 10px;
            border-top: 2px solid rgba(187, 187, 187, 0.2);
        }

        .sectorInput {
            width: 338px;
            margin-top: 18px;
        }

        .searchEmployee {
            display: inline-flex;
            align-items: center;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #868686;

            input {
                border: none;
                width: 300px;
            }

            .iconSearch {
                margin: 0 5px;
            }
        }
    }

    .listSearch {
        list-style: none;
        margin: 0;
        margin-bottom: 50px;
        padding-left: 4px;
    }

    .searchOption:hover {            
        .iconXCircle {
            display: block;
        }
    }

    .searchOption {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 6px 3px;
        font-size: 16px;

        .iconXCircle {
            display: none;
            margin-left: auto;  
            margin-right: 20px;

            :hover {
                color: red;
            }
        }

        p { 
            margin: 0 12px;
        }
    
        .avatar {
            content: '';
            background-color: #081c2a;
            border-radius: 50%;
            width: 45px;
            height: 45px;
        }
    }
    .searchOption:hover {
        background-color: #eee;
    }

    .addedColaborators {
        padding-top: 18px;
    }
}

/*.properties {
    display: grid;
    margin-bottom: 24px;
    textarea {
        margin-top: 15px;
        width: 650px;
        height: 100px;
    }
    .title {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }
        input {
            margin-left: 8px;
        }
    }
    .description {
        display: grid;
        margin-top: 18px;
    }
}

.smartGoals {
    margin: 24px 0;
}*/
