.answer {
    border-bottom: 2px solid #e8e5f6;
    margin: 5px 0;
    padding: 15px 0;
    align-items: center;

    .option {
        margin: 0 15px;
        padding: 0;
        p {
            margin: 0;
        }
        div {
            display: flex;
            align-items: center;
        }
        select {
            padding: 0;
            width: 125px;
            background-color:#ffe8ca;
            border-color: transparent;
        }
        .moreOption {
            margin-bottom: 5px;
        }
    }
    
    
    .iconOptionMore {
        padding: 0;
        background-color: rgb(102, 255, 102);
        width: 17px;
        height: 17px;
        margin-right: 5px;
        border-radius: 100%;
    }
    .iconOptionLess {
        padding: 0;
        background-color: rgb(255, 68, 68);
        width: 17px;
        height: 17px;
        margin-right: 5px;
        border-radius: 100%;
    }
}