@import "../../assets/styles/button";
@import "../../assets/styles/typograph";
@import "../../assets/styles/ui";

.btnsColumn {
    display: flex;
    div {
        margin-left: auto;
        button {
            margin: 0 8px;
        }
    }
}

.register {
    display: flex;
    .fild {
        display: grid;
    }
    .businessRegister {
        display: grid;
    }
    label {
        margin-right: 8px;
    }

    input {
        padding: 2px 6px;
        margin-bottom: 8px;
        margin-right: 16px;
        border: 1px solid #837e7c;
    }
}

.entityTableHeader {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.entityTableRecord {
    background-color: white;
    padding: 6px;
    border-bottom: 1px solid #adaaa9;

    & > div {
        display: block;
        input {
            border: none;
            padding: 2px 6px;
            margin: 4px 0;
        }
    }
}

.entityTableRecord:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.entityTableRecord:hover {
    background-color: white;
}

.sprint {
    margin: 10px 12px 6px;
    font-weight: 500;
}

.containerButton {
    display: flex;
    justify-content: center;
}