@import "../../assets/styles/button";
@import "../../assets/styles/typograph";
@import "../../assets/styles/ui";
@import "../../assets/styles/colors";

.pageSection {
    &[data-type-registration = "simple"] {
        background-color: $color-primary;
        color: white;
        .register {
            input {
                height: 44px;
            }
        }
    }
}

.error {
    background-color: rgba(233, 24, 17, 0.815);
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
    color: white;
    
    .messageHeader {
        display: flex;
        align-items: center;
    }

    .closeIcon {
        margin-left: auto;
    }
}

.btnsColumn {
    display: flex;
    div {
        margin-left: auto;
        button {
            margin: 0 8px;
        }
    }
}

.register {
    display: flex;
    .fieldRegister {
        display: grid;
    }
    label {
        margin-right: 8px;
    }

    input {
        padding: 2px 6px;
        margin-bottom: 8px;
        margin-right: 16px;
        border: 1px solid #837e7c;
    }
}

.entityTableHeader {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.entityTableRecord {
    background-color: white;
    padding: 6px;
    border-bottom: 1px solid #adaaa9;

    & > div {
        display: block;
        input {
            border: none;
            padding: 2px 6px;
            margin: 4px 0;
        }
    }
}

.colCircleX {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.entityTableRecord:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.period {
    padding: 20px;
    display: flex;
    align-items: center;

    .periodInfo {
        margin-right: 20px;
        label {
            margin-right: 3px;
            font-weight: bold;
        }
    
        input {
            width: 200px;
        }
    }
}

.entityTableRecord:hover {
    background-color: white;
}

.sprint {
    margin: 30px 0;
    font-weight: 500;
}

.containerButton {
    display: flex;
    justify-content: center;
}

.btnPrimary {
    &[data-typeRegistration="simple"] {
        margin-left: 45px;
        background-color: green;
        width: 150px;
        height: 36px;
    }
    &[data-typeRegistration="complete"] {
        width: 25%;
    }
}

.sectionButton {
    display: flex;
    justify-content: center;
}