@import '../../assets/styles/colors';

.navbar {
    box-shadow: 0 2px 2px 0 rgba(17, 231, 255, 0.5); 
    padding: 6px 12px;
    margin: 0;
    background-color: $color-primary !important;
    
    .menu {
        width: 100%;
        display: flex;
        margin-right: auto;
        div div {
            padding-left: 45px;
        }
    }

    .navLinks {
        width: 100%;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            padding: 0;

            p {
                align-items: center;
                margin-left: 4px;
            }
        }
    }

    .avatarContent {
        margin-left: auto;
        display: grid !important;
        justify-items: center;

        p {
            margin-top: 4px;
            font-size: 10px;
            color: gray;
        }
    }

    .avatar {
        font-size: 50px;
    }
}

.brand {
    width: 50%;
    background-color: #4d5db0;
    border: 0;
}
