.navbar {
    box-shadow: 0 2px 2px 0 rgba(17, 231, 255, 0.5); 
    padding: 16px 22px;
    margin: 0;
    height: 10vh;
    background-color: #081C2A !important;
    
    .menu {
        display: flex;
        margin-left: auto;
        //background-color: white;
        div div {
            padding-left: 45px;
        }
    }

    .avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

.brand {
    width: 50%;
    background-color: #4d5db0;
    border: 0;
}
