@import "../../../assets/styles/ui";

.page {
    display: flex;
    padding-top: 25px;
}
.discLogoImageSection {
    display: flex;
}

.discLogoImage {
    margin-left: auto;
    height: 360px;
    width: 400px;
}

.titleProfile {
    text-transform: capitalize;
    h3 {
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.contentColumn {
    display: grid;
}

.btnPresentationRow {
    display: flex;
    justify-content: center;
    align-items: end;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 100%;
    }
}

.entityTable {
    margin-top: 0;
    margin-bottom: 50px;
    background-color: initial;
}

.entityTableRecord {
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 4px;
}

.primaryInfoSecondaryCol {
    text-transform: capitalize;
    color: grey;
    margin: 0;
}

.tableRecordyTerciaryCol {
    line-height: 16px;
    flex-direction: column;
    align-items: center;
}
.primaryInfoTerciaryCol {
    font-weight: bold;
}

.secondaryInfoTerciaryCol {
    color: grey;
}

.entityTableRecord:hover {
    background-color: white !important;
    box-shadow: 0 0 16px rgba(17, 231, 255, 0.5);
}

.titleTable {
    margin-bottom: 16px;
}

.profileTableRecord {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;

    &[data-profile="influente"] {
        background-color: #FFD017;
        border: 2px solid #80680B;
        box-shadow: 0 0 5px #E6BC15;
    }
    &[data-profile="dominante"] {
        background-color: #FE2449;
        border: 2px solid #801224;
        box-shadow: 0 0 5px #E62041;
    }

    &[data-profile="estavel"] {
        background-color: #11CA68;
        border: 2px solid #064A26;
        box-shadow: 0 0 5px #0EB05A;
    }

    &[data-profile="conforme"] {
        background-color: #16B8E7;
        border: 2px solid #0A5469;
        box-shadow: 0 0 5px #15A6CF;
    }

    h3 {
        margin: 0;
    }
}

.btnPrimary {
    margin: 10px;
}

.scores {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .scoreTable {
        display: flex;
        padding: 5px 15px;
        width: 25%;
        border-radius: 8px;
        border: 2px solid #000000;
        align-items: center;

        .profileNames {
            width: 80%;
        }

        .scoresValue div {
            width: 20%;
            margin-left: 10px;
        }
    }

    .profile {
        display: grid;
        width: 300px;
        height: 250px;
        border: 2px solid rgba(17, 231, 255, 0.5);
        box-shadow: 0 0 5px rgba(17, 231, 255, 0.5);
        border-radius: 8px;
        background-color: whitesmoke;

        &[data-profile="dominante"] {
            background-color: #FE2449;
            border: 2px solid #801224;
            box-shadow: 0 0 5px #E62041;
        }

        &[data-profile="influente"] {
            background-color: #FFD017;
            border: 2px solid #80680B;
            box-shadow: 0 0 5px #E6BC15;
        }

        &[data-profile="estavel"] {
            background-color: #11CA68;
            border: 2px solid #064A26;
            box-shadow: 0 0 5px #0EB05A;
        }

        &[data-profile="conforme"] {
            background-color: #16B8E7;
            border: 2px solid #0A5469;
            box-shadow: 0 0 5px #15A6CF;
        }

        .profileTitle {
            font-size: 50px;
            font-weight: 800;
            h2 {
                margin: 0;
                font-size: 130px;
                text-transform: uppercase;
                color: whitesmoke;
            }
        }

        .profileDetails {
            h4 {
                font-size: 35px;
                margin: 0;
                text-transform: capitalize;
                color: whitesmoke;
            }
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.descriptionProfile {
    margin-bottom: 38px;
}

.noticeIcon {
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 8px;
    color: orange;
    font-size: 24px;
    transform: rotate(-45deg);
}

.notices {
    align-items: center;
    padding: 14px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    font-weight: 500;

    p {
        margin: 0;
    }

    &[data-new-cycle = "cycle"] {
        width: 350px;
        margin-top: 24px;
    }
}