@import "../assets/styles/ui";

.page {
    display: grid;

    .sectionTitle {
        margin-left: 106px;
    }

    h1  {
        margin: 10px 0;
        font-size: 28px;
        font-weight: 700;
        color: #4d5db0;
    }
}