.pageHeader {
    margin: 32px 0;
    background-color: #081C2A;
    color: white;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 48px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 16px rgba(17, 231, 255, 0.5);
    width: 525px;

    h3 {
        padding-left: 20px;
        margin: 4px 0;
        font-weight: 300;
    }
}
