@import "../assets/styles/ui";

.page {
    display: grid;
}

.btnPlan {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0;
}

.sectionTitle {
    padding: 0;
}

.btnPrimary {
    display: flex;
    align-items: center;
}

.backIcon {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 900;
}
