.sprint {
    display: block;
    border-radius: 8px;
    border: 2px solid #bebdbd;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .sprintOption {
        cursor: pointer;
        display: flex;
        margin-left: 35px;
        background-color: white;
        color: #06171F;
        border-radius: 8px;
        border: 2px solid #06171F;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 30px;

        &.active {
            background-color: #06171F;
            border-radius: 8px;
            border: 2px solid rgba(17, 231, 255, 0.5);
            box-shadow: 0 0 18px rgba(17, 231, 255, 0.5);
            color: white;
            width: 115px;
            height: 35px;
        }
    }
}
.sectionDate {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label {
        padding: 0;
        margin-left: 16px;
        margin-right: 6px;
        width: inherit;
    }
    input[type='number'] {
        margin: 0 3px;
        width: 52px;
        padding-right: 4px;
    }

    input[type='date'] {
        width: 170px;
    }
}

.sectionCadency {
    display: flex;
    align-items: center;
    justify-content: center;
}
