.sprint {
    display: block;
    max-width: 780px;
    border-radius: 8px;
    border: 2px solid #bebdbd;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .sprintOption {
        cursor: pointer;
        margin: 6px 0;
        display: flex;
        background-color: white;
        color: #06171f;
        border-radius: 8px;
        border: 2px solid #06171f;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 30px;

        &.active {
            background-color: #06171f;
            border-radius: 8px;
            border: 2px solid rgba(17, 231, 255, 0.5);
            box-shadow: 0 0 18px rgba(17, 231, 255, 0.5);
            color: white;
            width: 115px;
            height: 35px;
        }
    }
}
.sectionDate {
    & > div {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;

        label {
            margin-left: 16px;
            margin-right: 6px;
        }

        input {
            padding: 2px 6px;
            border: 1px solid #837e7c;
        }

        input[type="number"] {
            width: 52px;
        }

        input[type="date"] {
            width: 150px;
        }
    }
}

.sectionCadency {
    display: flex;
    align-items: center;
    justify-content: center;
}
