@import "../../assets/styles/button";
@import "../../assets/styles/typograph";
@import "../../assets/styles/section";

.register {
    display: flex;
    margin-left: 15px;
    .primary {
        display:grid;
    }
    .businessRegister {
        display:grid;
    }
    label {
        margin-right: 8px;
    }

    input {
        margin-bottom: 8px;
        margin-right: 16px;
        border-radius: 3px;
        border: 1px solid #837e7c;
    }
}

.assessementTableHidden:last-child {
    border-bottom: none;
}

.assessementTableHeader {
    div {
        display: flex;
        justify-content: flex-start;
    }
}

.sectionContent {
    display: grid;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: white;

    .sprint {
        margin: 10px 12px 6px;
        font-weight: 500;
    }
}

.containerButton {
    display: flex;
    justify-content: center;
}