$color-black: #140f07;
$color-purple-dark: #1b2950;
$color-purple-medium: #4d5db0;
$color-purple-light: #909cfa;
$color-offwhite: #e8e5f6;

$color-cian-vibrant: #00acff;
$color-cian-normal: #35c0ff;
$color-cian-light: #abd7ff;
$color-cian-offwhite: #e6f2ff;
$color-white: #ffffff;

$color-red-pomodoro: #ff0a4a;
$color-orange-vivaldi: #ff7924;
$color-yellow-vivaldi: #ffcc37;
$color-yellow-light: #ffff7e;
$color-yellow-offwhite: #f8ffc9;

/*.color1 {color: #132a06;}
.color2 {color: #0e6047;}
.color3 {color: #ffa00e;}
.color4 {color: #ffee5e;}
.color5 {color: #fffbb2;}*/


$color-primary: $color-purple-medium;
$color-secondary: $color-purple-light;
$color-terciary: $color-purple-dark;
$color-background: $color-offwhite;
$color-details: $color-black;
