$color-black: #140f07;
$color-purple-dark: #1b2950;
$color-purple-medium: #4d5db0;
$color-purple-light: #909cfa;
$color-offwhite: #e8e5f6;

$color-blue0: #06171F;
$color-blue1: #081C2A;
$color-blue2: #2A4157;
$color-blue3: #3E5A6E;
$color-blue4: #607480;
$color-blue5: #C7D5D8;

$color-purple0: #964269;
$color-purple1: #442836;
$color-purple2: #3D2C3B;
$color-purple3: #725974;
$color-purple4: #9D869C;
$color-purple5: #CFB3C8;

$color-second-blue0:#27334B;
$color-second-blue1: #3E567C;
$color-second-blue2: #5D7DA3;
$color-second-blue3: #87AAD0;
$color-second-blue4: #B2D6F8;

$color-primary: $color-blue0;
$color-secondary: $color-blue1;
$color-terciary: $color-blue2;
$color-background: $color-blue3;
$color-details: $color-blue4;
