$color-blue0: #06171F;
$color-blue1: #081C2A;
$color-blue2: #2A4157;
$color-blue3: #3E5A6E;
$color-blue4: #607480;
$color-blue5: #C7D5D8;
$color-blue6: rgba(17, 231, 255, 0.5);

$color-purple0: #964269;
$color-purple1: #442836;
$color-purple2: #3D2C3B;
$color-purple3: #725974;
$color-purple4: #9D869C;
$color-purple5: #CFB3C8;

$color-primary: $color-blue0;
$color-secondary: $color-blue1;
$color-terciary: $color-blue2;
$color-quartenary: $color-blue3;
$color-details: $color-blue4;
$color-details-secondary: $color-blue6;

$color-background: $color-blue4;
$color-background-primary: $color-blue4;
$color-background-second: $color-blue4;

$border-radius-sm: 8px;
