.btn {
    width: 120px;
    height: 30px;
}

.btn-primary {
    background-color: $color-background;
    border-radius: 30px;
    border: 2px solid $primary-color;
}

.page {
    background-color: $color-background-primary;
}

.page-section {
    background-color: $color-background-second;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;

    .page-section-header {
        background-color: $color-background-primary;
        border-top-left-radius: $border-radius-sm;
        border-top-right-radius: $border-radius-sm;
    }

    .page-section-content {
        background-color: $color-background-primary;
        border-bottom-left-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
    }
}