@import "./colors";
@import "./typograph";

.btn {
    width: 120px;
    height: 30px;
}

.btnPrimary:hover {
    box-shadow: 0 0 5px rgba(17, 231, 255, 0.5);
    background-color: #0f2c3a;
    color: white;
}

.btnPrimary {
    margin-right: 6spx;
    border-radius: 8px;
    border: 1px solid rgba(17, 231, 255, 0.5);
    color: white;
    width: fit-content;
    padding: 4px 16px;
    min-height: 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #06171f;
    text-align: center;
    text-decoration: none;
}

.page {
}

.pageHeader {
    display: flex;
    align-items: baseline;
}

.pageSection {
    padding: 24px 48px;
    background-color: white;
    margin-top: 28px;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
}
.pageSectionHeader {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: $color-terciary;
    color: white;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
}

.page-section-content {
    background-color: $color-background-primary;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
}

.pageSectionForDashboard {
    padding: 0;
    background-color: white;
    margin: 28px 0;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
}

.entityTable {
    max-width: 744px;
    background-color: white;
    padding: 0;
    margin-top: 28px;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
}

.entityTableHeader {
    background-color: $color-quartenary;
    margin: 0;
    padding: 6px;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;

    & > div {
        display: flex;
        align-items: center;
        p {
            color: white;
            margin: 0;
        }
    }

    .entityTableActions {
        display: flex;
        margin-left: auto;
    }
}

.entityTableRecord {
    margin: 0;
    & > div {
        display: flex;
        align-items: center;

        input {
            padding: 2px 6px;
            margin-bottom: 8px;
            margin-right: 16px;
            border-radius: 3px;
        }

        p {
            margin: 0;
            padding: 6px;
        }
    }

    .entityTableRecordAction {
        display: none;
        //margin-left: auto;
        margin: 0 5px;
    }
}

.entityTableRecord:hover {
    background-color: lightgray;

    .entityTableRecordAction {
        display: block;
    }
}

.disabledLink {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.infoRound {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $color-primary;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 8px 0;
}

.pageTitle {
    margin: 32px 0;
    background-color: #081c2a;
    color: white;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 48px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 16px rgba(17, 231, 255, 0.5);

    width: fit-content;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 8px 48px;
    font-weight: 300;
}

.removeEntityButton {
    :hover {
        color: red;
    }
}
